-# in app/views/infomations/show.html.haml
%h1.title Administration
%h1 Details about '#{@information.topic}'

%ul
  
  %li
    Created at:
    = @information.created_at
  %li
    Updated at:
    = @information.updated_at
%h3 Content:
%p= @information.content
= link_to 'Edit', edit_information_path(@information)
= button_to 'Delete', information_path(@information), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to information list', informations_path

